.\34 u, .\34 u\24 {
		width: 24%;
		clear: none;
		margin-left: 0;
	}


.\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
			width: 24%;
			clear: none;
			margin-left: 0;
	}

.\34 u\28medium\29, .\34 u\24\28medium\29 {
			width: 24%;
			clear: none;
			margin-left: 0;
		}


	.\34 u\28small\29, .\34 u\24\28small\29 {
			width: 24%;
			clear: none;
			margin-left: 0;
		}

.\34 u, .\34 u\24 {
		width: 24%;
		clear: none;
		margin-left: 0;
	}

