{% load staticfiles %}
<!DOCTYPE html>
<html>
                                                <!-- Start the head tag -->
    <head>
        <title>STEM Legacy</title>
        <meta charset="utf-8">
        <meta name="description" 
              content="STEM legacy is non-governmental and voluntary organization for empowering the students from STEM or outside it for the development of society through turning ideas into projects that serve the innovative solutions and community and have a profit.">
        <link href="https://fonts.googleapis.com/css?family=Nova+Square|Share+Tech"                           rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Della+Respira|Montserrat|Roboto+Condensed|Ubuntu" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Righteous"                                        rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Overpass"                                         rel="stylesheet">
        <link href="{% static "Home/normalize.css" %}"        rel="stylesheet">
        <link href="{% static "Home/jquery.funnyText.css" %}" rel="stylesheet">
        <link href="{% static "Home/csshome.css" %}"           rel="stylesheet">
        <link href= "http://i.imgur.com/IyfMgXP.png"           rel="shortcut icon" type="image/png">
        <!-- [if lt IE 9]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
                                                <!-- End the head tag -->
    <body>
         {% csrf_token %}                                       <!-- Start the navigation bar -->
        <header id="headhome">
            <nav>
                <a href="{% url "news:Open" %}" id="loogo"><img src="../../../media/Media%20Home/logoinhead.png"></a>
                <a href="{% url "news:Open" %}" id="wrlogo"><h3 class="headingl">stem legacy</h3></a>
                <div class="container">
                   
                    <div class="clearfix"></div>
                    <div class="tabs">
                        <ul>
                             <li> <a id="now" href="{% url "news:Home" %}">home</a> </li>

                             <li> <a href="{% url "news:members" %}">members</a> </li>
                             <li> <a href="{% url "news:gallery" %}">gallery</a> </li>
                             <li> <a href="{% url "news:activity" %}">activity</a> </li>
                            <li> <a href="{% url "news:about" %}">about</a> </li>
                        </ul>
                    </div>
                </div>    
            </nav>
        </header>
                                                <!-- End the navigation bar -->        
        
                                                <!-- Start the content -->
        
        
            <div class="intro">
                <div class="container">
                    
                    <h3><span>o</span>ur <span>a</span>ctivities</h3>
                    <div class="line"></div>
                    <p>To provide the skills of all students as our vision is to make under graduated students to be more qualified to choose their own ways by knowing the start of the way. train them to be in the same level as members to had the qualifications to enter any team easily, train them how to motivate and teach them how to create and develop Marketing strategy.
                    </p> <div class="newline"></div>
                    
                    <div class="act">
                        
                        <div class="acti">
                             <a href="{% url "news:activity" %}" target="_blank"><img id="immg1 " src="../../../media/Media%20Home/act1.png"></a>
                            <a href="{% url "news:activity" %}" class="actilink"> <h2>The way to be</h2> </a>
                        </div>

                        <div class="acti">
                            <a href="{% url "news:activity" %}" target="_blank"><img src="../../../media/Media%20Home/act2.png"></a>
                            <a href="{% url "news:activity" %}" class="actilink"><h2>HR training</h2></a>
                        </div>
                        
                        <div class="acti">
                            <a href="{% url "news:activity" %}" target="_blank"><img src="../../../media/Media%20Home/act3.png"></a>
                            <a href="{% url "news:activity" %}" class="actilink"> <h2>conversation day</h2></a>
                        </div>
                        
                        
                        
                        <div class="acti">
                            <a href="{% url "news:activity" %}" target="_blank"><img src="../../../media/Media%20Home/act4.png"></a>
                            <a href="{% url "news:activity" %}" class="actilink"> <h2>Inspire your tonuge</h2></a>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        
            <div class="ratio">
                <div class="container">
                    
                    
                  <div class="square"><h4 class="count" data-from="0" data-to="45" data-speed="1500">45</h4><h4>members</h4></div>
   
                 <div class="square"><h4 class="count" data-from="0" data-to="270" data-speed="1500">270</h4><h4>participant</h4></div>
                 <div class="square"><h4 class="count" data-from="0" data-to="235" data-speed="1500">235</h4><h4>trainee</h4></div> 

                  <div class="square"><h4 class="count" data-from="0" data-to="6" data-speed="1500">6</h4><h4>activities</h4></div> 

               </div>
            </div>

            <div class="email">
                <div class="container" >
                    {% csrf_token %}
                    <form action="mailto:osama.elsayed@stemdakahlia.moe.edu.eg" method="post" target="popupwindow" style="padding: 3px;
                    text-align:center;">
                    <h3>Get our Latest news</h3><input
                    style="width: 300px;"
                    name="email" type="email" placeholder="Write your E-mail" autocomplete="off"><br><input value="Subscribe"
                    type="submit"></form>
                </div>
            </div>
        
                                                <!-- End the content -->
        <div class="clearfix"></div>
                                                <!-- Start the footer -->
        
        <footer>
                <div class="context">
                    <div class="container">
                       
                        <h1>stem legacy</h1>
                        <div id="infor">
                            
                            <p id="info">
                                stem legacy is a non-governmental and voluntary organization for empowering the students from <span id="stem">STEM</span> or outside it for the development of society through turning ideas into  projects that serve the innovative solutions and community and have a profit.
                            </p>
                            <div id="iconphone">
                                <img src="../../../media/Media%20Home/phone.png">
                            </div>
                            <div id="num">
                             <h3>+201015211228</h3>
                             <br> 
                             <h3>+201111556120</h3>
                            
                            </div>
                                                      
                        </div> 
                        
                        <div id="message">
                            <p>leave us a review or suggestion :</p>
                            <form action="mailto:osama.elsayed@stemdakahlia.moe.edu.eg" method="post" enctype="multipart/form-data" name="EmailTestForm" >
                                <textarea type="text" placeholder="Please leave your review here and click Send" ></textarea>
                                 <div class="clearfix"></div>
                                <input type="submit" value="Send" target="_top">
                            </form>
                        </div>
                    </div>
                </div>
                
                <div id="contact">
                     <div class="container">
                         <div id="copy">
                            <p><span id="legacy">stem legacy</span> &copy; 2017 | all rights reserved</p>
                        </div>
                        
                        <div id="social">
                                  <a href="https://plus.google.com/u/3/101241106586692323897" target="_blank"><img src="../../../media/Media%20Home/gmail.png"></a>
                                  <a href="https://www.youtube.com/channel/UCNlSyObkDxtFW9i09kFH-dA" target="_blank"><img src="../../../media/Media%20Home/youtube.png"></a>
                                  <a href="https://www.instagram.com/stem_legacy" target="_blank"><img src="../../../media/Media%20Home/ins.png"></a>
                                  <a href="https://twitter.com/StemLegacy" target="_blank"><img src="../../../media/Media%20Home/tw.png"></a>
                                  <a href="https://www.facebook.com/STEMLegacy/" target="_blank" ><img src="../../../media/Media%20Home/fb.png"></a>
                         </div>
                        </div>
                </div>
        </footer>
                                                <!-- End the footer --> 
        
        <script src="{% static "Home/jquery-1.11.3.min.js" %}"></script>
        <script src="{% static "Home/jquery.countTo.js" %}"></script>
        <script src="{% static "Home/jquery.funnyText.min.js" %}"></script>
        <script src="{% static "Home/js.js" %}"></script>
    </body>
</html>